@charset "utf-8";

/*========================================================
全般的なスタイル
==========================================================*/
*{
	margin:0; padding:0;		/*全要素のマージン・パディングをリセット*/
}
body {

	background-color:#cccccc;		/*ページ全体の背景色*/
	background-image:url("images/bg_body.png");		/*ウェブページ全体の背景画像*/
	font-size:50%;		/*フォントサイズを95%にする*/
	font-family: "MS ゴシック",sans-serif;	/*フォントの種類をゴシック系にする*/
	line-height:1.5;	/*行の高さを1.5倍にする*/
	color:#000000;		/*文字の色を変える*/

}
#product1 {
	font-size:200%;		/*フォントサイズを95%にする*/
    font-family: "MS ゴシック",sans-serif;	/*フォントの種類をゴシック系にする*/
	line-height:1.5;	/*行の高さを1.5倍にする*/   
}


/*画像を拡大表示*/
#ode_camera {
    position:absolute;
    top:70px;
    left:100px;
    background-color:white;     
    width:200px;
}
#ode_camera2 {
    position:absolute;
    top:70px;
    left:210px;
    background-color:white;     
    width:200px;
}

/*run_test*/
#run_test button {
    width:100px; height:50px;
    position:absolute;
    left:  400px;                /* 左からの位置指定 */
    top: 50px;                  /* 上からの位置指定 */	   
    color:navy;		/*文字の色を変える*/	
}

/*テスト*/
#test_output0 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 50px;                  /* 上からの位置指定 */	
}
#test_output1 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 60px;                  /* 上からの位置指定 */	
}
#test_output2 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 70px;                  /* 上からの位置指定 */	
}
#test_output3 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 80px;                  /* 上からの位置指定 */	
}
#test_output4 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 90px;                  /* 上からの位置指定 */	
}
#test_output5 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */	
}
#test_output6 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 110px;                  /* 上からの位置指定 */	
}
#test_output7 {

	position:absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 120px;                  /* 上からの位置指定 */	
}

#demo {

	position:absolute;
    left:  20px;                /* 左からの位置指定 */
    top: 250px;                  /* 上からの位置指定 */	
}
#demo .result {

	position:absolute;
    left:  20px;                /* 左からの位置指定 */
    top: -80px;                  /* 上からの位置指定 */	
}
#canvas {
    position:absolute;
    left:  20px;                /* 左からの位置指定 */
    top: 150px;                  /* 上からの位置指定 */	

    background-color:white; width:170px;
}


