@charset "utf-8";
/*========================================================
全般的なスタイル
==========================================================*/
*{
	margin:0; padding:0;		/*全要素のマージン・パディングをリセット*/
}
body {
	background-color:#cccccc;		/*ページ全体の背景色*/
	background-image:url("images/bg_body.png");		/*ウェブページ全体の背景画像*/
	font-size:95%;		/*フォントサイズを95%にする*/
	font-family: "MS ゴシック",sans-serif;	/*フォントの種類をゴシック系にする*/
	line-height:1.5;	/*行の高さを1.5倍にする*/
	color:#000000;		/*文字の色を変える*/
}
div#pagebody{
		width:1000px; margin:0 auto;	 /*内容全体をセンタリング*/
		background-color:#ffffff;		/*内容全体の背景色*/
		background-image:url("images/bg_pagebody.png");	/*コンテンツ全体の背景画像*/
		background-repeat:repeat-y;						/*背景画像を縦方向に繰り返す*/
}
img {border:0;}	/*画像のボーダーを0にする*/


/*===============================
スクロールしてトップに戻るのボタン
=================================*/
#back-top a{
    visibility:hidden;		/*最初は非表示設定にする*/
	position: fixed;
	width: 64px;
	height: 10px;	
	right: 10px;
	bottom:100px;
	transition: 1s;
	background: #ffffff;
}
#back-top a:hover{
	opacity:0.75;
}




/*=========================================
ヘッダ
===========================================*/
div#header {
		height:80px;		/*ヘッダ部分の高さ*/
}
div#header h1 {
		padding:10px 0px 5px 20px;	/*見出しの位置調整*/
		font-size:18px;				/*フォントのサイズ*/
		font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
div#header h1 a{text-decoration:none;}	/*リンクの下線を無くす*/

/*=========================================
メインメニュ－
===========================================*/
ul#menu{
	width:960px; height:50px;	/*メインメニュー部分の幅と高さ*/
	margin:0px 20px;
}
#menu li {
	list-style-type:none;	/*リストマーカー無しにする*/
	display:inline;		/*リスト項目をインライン表示にする*/
	float:left;
}
#menu li a {
	background-color:#000080;	/*背景色*/
	color:#ffffff;			/*文字色*/
	display:block;		/*リンク部分をブロック表示にする*/
	width:240px; height:40px;	/*幅と高さ*/
	padding:10px 0px 0px 0px;	/*上パディング*/
	text-align:center;			/*テキストをセンター揃えにする*/
	text-decoration:none;		/*リンク部分を下線無しにする*/
	background-image:url(images/bg_menu1.png);	/*背景画像を指定*/
	background-repeat:no-repeat;				/*背景画像を繰り返さない*/
}
#menu li a:hover {
		background-color:#0000bb;	/*リンクにマウスが乗ったら背景色に変更する.*/
		background-image:url(images/bg_menu2.png);	/*リンクにマウスが乗ったら背景画像を変更する*/
}

/*===================================================
Homeの項目
=====================================================*/
/*Homeのドロップダウン*/
.Home_drop_sub {
	visibility:hidden;		/*最初は非表示設定にする*/
	position: absolute;		
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -5px;
	padding: 15px 15px 15px 15px;	
	width: 200;
	display: block;
	background-color: navy;
	color:white;
}
.Home_drop {
	position: absolute;	
	margin-left: 500px;
	margin-top: -135px;	
	padding-left: 5px;
	padding-right: 20px;
	padding-top: 5px;	
	background-color:navy;	/*背景色*/
	color:white;
}
/*Home画像*/
#Home{
		display:block;		/*ブロック表示にする*/
		background-color:#000080;	/*背景色*/	
		margin:20px 0px 0px 20px;
		width:960px; height:400px;		/*トップページのヘッダ画像の表示サイズを指定*/
		text-align:center;			/*テキストをセンター揃えにする*/
		background-image:url(images/img_index.jpg);
		color:navy;		/*文字の色を変える*/	
}

/*===================================================
Skillsの項目
=====================================================*/  
 #Skills {
	color:navy;
	text-align:center;
	padding:20px 0px 0px 0px;

 }
/* Skills内容 */
#Skills_contests li {
	margin:0px 0px 0px 40px;		/*左マージン*/		
	display:block;					/*ブロック表示にする*/
	width:280px; height:380px;		/*幅と高さ*/
	background-color:#ffffff;	
	float:left;				/*リスト項目を横に並べる*/
}
#Skills_contests li img {
	padding:10px 0px 0px 0px;	/*上パディング*/		
	width: 40%;
	margin: auto;
	display: block;
}
#Skills_contests li h3 {	
	margin:10px 0px 0px 0px;	/*上マージン*/		
	text-align:center;			/*テキストをセンター揃えにする*/	
}
#Skills_contests li p {
	margin:20px 0px 0px 20px;	/*上、左マージン*/		
	width:240px;	
}



/*====================================
フッタ
======================================*/
div#footer {
	clear:both;		/*回り込みを解除*/
	text-align:center; 	/*センター揃えにする*/
}